<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You are successfully registered with us <%= @customer.name %>!</p>
    <p>
    Account details<br>
    --------------------------
    </p>
    <p>Name: <%= @customer.name %></p>
    <p>Email: <%= @customer.email %></p>
    <p>Address: <%= @customer.mobile %></p>
    <p>Phone: <%= @customer.city %></p>
  </body>
</html>