<div class="content">
  <p class="back">
    <span class="fas fa-arrow-circle-left">
      <%= link_to 'Back', customers_path %>
    </span>
  </p>

  <div class="show">
    <h3>Show Customer Details</h3>
    <p>
      <strong>Name:</strong>
      <%= @customer.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @customer.email %>
    </p>

    <p>
      <strong>Mobile:</strong>
      <%= @customer.mobile %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @customer.city %>
    </p>

    <div class="form-group">
      <span class="fas fa-edit">
        <%= link_to 'Edit', edit_customer_path(@customer) %> |
      </span>

      <span class="fas fa-trash-alt">
        <%= link_to 'Delete', customer_path(@customer), method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>
  </div>
</div>
